# npm modules
node_modules

# sensitive environment variables used for local development
.env

# wercker's cache
.wercker

# ide related files
.idea/
.vscode/

# npm's log file
npm-debug.log

# lock files
yarn.lock
